@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/poppins/Poppins-Light.ttf');
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/space_grotesk/SpaceGrotesk-Medium.ttf');
}

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/space_grotesk/SpaceGrotesk-Bold.ttf');
}

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 300;
	src: url('/fonts/iran-sans/IRANSansWeb-Light.ttf');
}

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/iran-sans/IRANSansWeb-Medium.ttf');
}

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/iran-sans/IRANSansWeb-Bold.ttf');
}

@font-face {
	font-family: ZeroSans;
	font-style: normal;
	font-weight: 500;
  src: url('/fonts/xero-sans/XeroSans-Bold.ttf');
}

@font-face {
	font-family: ZeroSans;
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/xero-sans/XeroSans-black.ttf');
}